<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logo">
                <a href="#" class="logo">
                    {{mixins.icon('logo')}}
                    <span>maxgallery</span>
                </a>
            </div>
            <div class="header__right-side">
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav class="header__nav">
                    <ul class="menu">
                        <li class="menu__item"><a href="#" class="menu__link">Item</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Item</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Item</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Item</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Item</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>